body {
    background-color: #c6d0f5;
    padding:0;
    font-style: italic;
    margin:0;
    background-image: url(https://i.pinimg.com/originals/2f/fd/12/2ffd12fdc3613c6f6aa4b77c6fb98e07.jpg);
    background-size: 1560PX;
}

h4 {
    text-align: right;
}

h5 {
    text-align: right;
}

table, tr, td, th {
    border: 2px dashed;
    color: black;
    font-style: oblique;
}

ul.navigation {
     display:flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw; 
    margin: 0;
    list-style-type: none;
    background-color: rgb(74, 161, 88);
    padding: 0;
}

ul.navigation li {
    background-color: rgb(74, 161, 88);
    float: left;
}

ul.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation a:hover:not(.active) {
    background-color: rgb(122, 195, 104);
    color: rgb(5, 118, 50);
}

ul.navigation a.active {
    color: white;
}

.active {
    background-color: rgb(6, 78, 31);
}